 {% extends ' layouts/index.html' %}

 {% block content %}
     <style type="text/css">
        .product {
            width:80%;
            margin-left: 10%;

        }
        .dates {

            display: flex;
            justify-content: space-between;
        }
        .release {
            margin-left: 10%;
        }
        .reviews {
            margin-top: 20px;
        }
        .review {
            background: #666666;
            color: #1b1b1b;
            padding: 10px;
            margin-bottom: 20px;

        }
        .product > img{
            width: 100%;
        }

     </style>
    <div class="product">
         {% if product.image %}
                    <img   src="/media/{{ product.image }}">
                    {% else %}
                        <img src="https://avatars.mds.yandex.net/i?id=8b87b542bf394cebe4b91ebd54bdf051c271379c-5145180-images-thumbs&n=13">
                    {% endif %}
        <h5>{{ product.author.username }}</h5>
        <h1>{{ product.title }}</h1>
    </div>
     <div class="release">
         <h3>{{ product.year_of_release }}</h3>
     </div>
            <div class="product">
                <h4>{{ product.price }}$</h4>
                <h4>{{ product.description }}</h4>
            </div>
        <div class="dates">
            <h6>{{ product.created_data }}</h6>
        </div>
     {% if not user.is_anonymous %}
         <div class="create_review">
        <form action="/products/{{ product.id }}/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add review">
        </form>
     </div>
     {% endif %}

     <div class="reviews">
        {% for review in reviews %}
            <div class="review">
                <h5>{{ review.author.username}}</h5>
                <h6>{{ review.text }}</h6>
                <p>{{ review.created_date }}</p>

            </div>
        {% endfor %}
     </div>

 {% endblock %}